release.properties
.vscode/settings.json
nul
temp/*.*
.venv/*
**/log.txt
**/target
!**/src-gen/**/target
**/.gradle
**/build
**/out
**/node_modules
**/bin
**/*._trace
**/*.xtextbin
**/*.xtendbin
**/*-report.md
**/*.pdf
**/*.doc
**/*.docx
**/*.zip
**/*.log
**/*.bak
**/*.class
**/*.jar
**/*.tar
**/*.vsix
**/*.contrib
**/*.copyarea.db
**/*.keep
**/*.versionsBackup
**/*.releaseBackup
**/*.lnk
**/*.idea
**/secrets.yaml
**/*.env
**/*.theia-workspace
**/.classpath
**/__pycache__/*.*
