<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Use environment variable for log level, default to INFO if not set -->
    <property name="LOG_LEVEL" value="${LOG_LEVEL:-INFO}" />
    <!-- Log file location, default to /logs if not set -->
    <property name="LOG_PATH" value="${LOG_PATH:-/logs}" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/sheep-dog-dev-svc.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Daily rollover with compression -->
            <fileNamePattern>${LOG_PATH}/sheep-dog-dev-svc-%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <!-- Keep 1 days' worth of history -->
            <maxHistory>1</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FARHAN_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/sheep-dog-dev-svc.org.farhan.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/farhan-%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>1</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>


    <!-- Set root logger level based on environment variable -->
    <root level="${LOG_LEVEL}">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

    <!-- Set specific logger levels -->
    <logger name="org.farhan" level="${LOG_LEVEL}" additivity="true">
        <appender-ref ref="FARHAN_FILE" />
    </logger>

    <!-- Keep Spring framework at INFO level unless explicitly set to DEBUG -->
    <logger name="org.springframework" level="INFO" />
    <logger name="org.hibernate" level="ERROR" />
    <logger name="org.apache.activemq" level="ERROR" />
    
</configuration>