<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type
			base-type="org.eclipse.core.runtime.text"
			file-extensions="asciidoc"
			id="org.farhan.sheepdog.asciidoc"
			name="SheepDog AsciiDoc"
			priority="normal">
		</content-type>
	</extension>

	<extension point="org.eclipse.ui.editors">
		<editorContentTypeBinding
			contentTypeId="org.farhan.sheepdog.asciidoc"
			editorId="org.eclipse.ui.genericeditor.GenericEditor">
		</editorContentTypeBinding>
	</extension>

	<extension point="org.eclipse.lsp4e.languageServer">
		<server
			class="org.farhan.sheepdog.eclipse.SheepDogConnectionProvider"
			id="org.farhan.sheepdog.server"
			label="SheepDog AsciiDoc Language Server">
		</server>
		<contentTypeMapping
			contentType="org.farhan.sheepdog.asciidoc"
			id="org.farhan.sheepdog.server">
		</contentTypeMapping>
	</extension>

	<extension point="org.eclipse.tm4e.registry.grammars">
		<grammar
			scopeName="source.asciidoc.sheepdog"
			path="syntaxes/asciidoc.tmLanguage.json">
		</grammar>
		<scopeNameContentTypeBinding
			contentTypeId="org.farhan.sheepdog.asciidoc"
			scopeName="source.asciidoc.sheepdog">
		</scopeNameContentTypeBinding>
	</extension>

	<extension point="org.eclipse.tm4e.ui.themes">
		<theme
			id="org.farhan.sheepdog.asciidoc.theme"
			name="SheepDog AsciiDoc Theme"
			path="syntaxes/sheepdog-asciidoc.tmTheme">
		</theme>
		<themeAssociation
			scopeName="source.asciidoc.sheepdog"
			themeId="org.farhan.sheepdog.asciidoc.theme">
		</themeAssociation>
	</extension>

	<extension point="org.eclipse.ui.commands">
		<category
			id="org.farhan.sheepdog.category"
			name="SheepDog">
		</category>
		<command
			id="org.farhan.sheepdog.generateCode"
			categoryId="org.farhan.sheepdog.category"
			name="Generate Code">
		</command>
	</extension>

	<extension point="org.eclipse.ui.handlers">
		<handler
			commandId="org.farhan.sheepdog.generateCode"
			class="org.farhan.sheepdog.eclipse.GenerateCommandHandler">
		</handler>
	</extension>

	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?after=additions">
			<command
				commandId="org.farhan.sheepdog.generateCode"
				label="Generate Code"
				style="push">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.farhan.sheepdog.asciidocFileActive"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>

	<extension point="org.eclipse.core.expressions.definitions">
		<definition id="org.farhan.sheepdog.asciidocFileActive">
			<with variable="activeEditorInput">
				<adapt type="org.eclipse.core.resources.IFile">
					<test
						property="org.eclipse.core.resources.contentTypeId"
						value="org.farhan.sheepdog.asciidoc">
					</test>
				</adapt>
			</with>
		</definition>
	</extension>

	<extension point="org.eclipse.ui.bindings">
		<key
			commandId="org.farhan.sheepdog.generateCode"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.ui.textEditorScope"
			sequence="M1+M2+M3+G">
		</key>
	</extension>
</plugin>
